<h1>Watchlist</h1>

<% @lists.each do |list| %>

<div class="card" style="width: 30rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= list.name %></h5>
    <a href="#" class="btn btn-primary">View List</a>
  </div>
</div>

<% end %>
